<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SqlConStr" connectionString="Data Source=NIRAV-PC\SQLEXPRESS;Initial Catalog=AppointmentSystem_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/UserLogin.aspx" protection="All" timeout="6000"></forms>
    </authentication>
    <sessionState timeout="6000" mode="InProc" />
  </system.web>
 
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="UserLogin" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>